@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/*
    CSS Reset, Reference below
    http://meyerweb.com/eric/tools/css/reset/ 
    v2.0 | 20110126
    License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* END OF RESET */
* {
    --white-background: #eeeef0b4;
    --gray-background: #a4aab37c;

    font-size: 8px;
    font-family: 'Roboto', sans-serif, 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h4 {
    font-size: 2rem;
    font-weight: 600;
}

h5 {
    font-weight: 600;
    font-size: 1.25rem;
}

#container {
    height: 100vh;
    

    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-template-rows: 1fr 4fr;
}

#header {
    background-color: var(--white-background);

    grid-column: 2 / 2;
    grid-row: 1 / 1;
}

#cards {
    background-color: var(--gray-background);
    padding: 32px 16px;

    grid-column: 2 / 2;
    grid-row: 2 / 2;

    display: grid;
    grid-template-columns: 4fr 1fr;
}

#project-cards h5 {
    margin: 16px 8px;
}

#project-cards-grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(300px, 350px));
    grid-template-rows: repeat(3, minmax(150px, 200px));
    gap: 24px;
}

.project-card-grid-item {
    background-color: var(--white-background);
    /* outline: 1px solid black; */
    border-radius: 5%;
    border-left: 20px solid rgb(238, 171, 70);
    padding: 16px 16px;

    display: flex;
    flex-direction: column;
    position: relative;

    box-shadow: 2px 1px 5px black;
}

.project-data {
    grid-column: 1 / 2;
}
.project-card-grid-item .project-title {
    font-size: 1.5rem;
    padding-top: 8px;
    padding-bottom: 4px;
    font-weight: 600;
}

.project-card-grid-item .project-description {
    font-size: 0.9rem;
    color:rgb(87, 87, 87)
}

#side-bar {
    background-color: #3b82f6;
    color: white;

    grid-column: 1 / 1;
    grid-row: 1 / 3;
}

.row-of-icons {
    margin-top: 8px;
    width: clamp(150px, 175px, 200px);
    align-self: flex-end;
    justify-content: flex-end;


    display: flex;
    justify-content: space-between;
    align-self: flex-end;

    position: absolute;
    bottom: 0;
    right: 0;

}



